<br>
<div class="container">
  <h1>NoovOp Utilisateurs</h1>
  <hr>

  <div class="row">

	<!-- The list of users -->
    <div class="col-6">
      <h3>Liste des utilisateurs</h3>
      <table class="table">
        <thead>
        <tr>
          <td><strong>#</strong></td>
          <td><strong>Prénom</strong></td>
          <td><strong>Nom</strong></td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.firstname}}</td>
          <td>{{user.lastname}}</td>
          <td>
            <button class="btn btn-primary btn-sm" (click)="findUser(user.id)"><i class="fa fa-edit" title="Afficher le détail de l'utilisateur"></i> Détail</button>
            &nbsp;
            <button class="btn btn-warning btn-sm" (click)="deleteUser(user.id)"><i class="fa fa-trash" title="Supprimer l'utilisateur"></i> Supprimer</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

	<!-- The new user block -->
    <div class="col-6 new-contact">
      <h3>{{formTitle}}</h3>
      <form name="new-user-form">
        <input type="hidden" id="id" name="id" [(ngModel)]="userInfo.id">

        <div class="form-group row">
          <label for="firstname" class="col-2 col-form-label">Prénom</label>
          <div class="col-6">
            <input class="form-control" type="text" id="firstname" name="firstname" [(ngModel)]="userInfo.firstname">
          </div>
        </div>

        <div class="form-group row">
          <label for="lastname" class="col-2 col-form-label">Nom</label>
          <div class="col-6">
            <input class="form-control" type="text" id="lastname" name = "lastname" [(ngModel)]="userInfo.lastname">
          </div>
        </div>

        <div class="form-group row">
          <label for="address" class="col-2 col-form-label">Adresse</label>
          <div class="col-6">
            <input class="form-control" type="text" id="address" name = "address" [(ngModel)]="userInfo.address">
          </div>
        </div>

        <div class="form-group row">
          <label for="email" class="col-2 col-form-label">Email</label>
          <div class="col-6">
            <input class="form-control" type="text" id="email" name = "email" [(ngModel)]="userInfo.email">
          </div>
        </div>

        <div class="form-group row">
          <label for="phone" class="col-2 col-form-label">Téléphone</label>
          <div class="col-6">
            <input class="form-control" type="text" id="phone" name = "phone" [(ngModel)]="userInfo.phone">
          </div>
        </div>

        <button class="btn btn-primary btn-sm" (click) = "addUser()" *ngIf="addButton == true"> Ajouter </button>
        <button class="btn btn-primary btn-sm" (click) = "updateUser()" *ngIf="addButton == false"> Modifier </button>
        <button class="btn btn-primary btn-sm" (click) = "resetUserInfo()" *ngIf="addButton == false"> Retour </button>
      </form>
    </div>
  </div>
</div>
